Service References/SRWeatherForecast/ServicePhase2Meghana.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePhase2Meghana" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8256/ServicePhase2Meghana.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8256/ServicePhase2Meghana.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8256/ServicePhase2Meghana.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePhase2Meghana_GetWeatherForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherForecast" />
  </wsdl:message>
  <wsdl:message name="IServicePhase2Meghana_GetWeatherForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherForecastResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhase2Meghana_GetWindData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWindData" />
  </wsdl:message>
  <wsdl:message name="IServicePhase2Meghana_GetWindData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePhase2Meghana">
    <wsdl:operation name="GetWeatherForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhase2Meghana/GetWeatherForecast" message="tns:IServicePhase2Meghana_GetWeatherForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhase2Meghana/GetWeatherForecastResponse" message="tns:IServicePhase2Meghana_GetWeatherForecast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWindData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhase2Meghana/GetWindData" message="tns:IServicePhase2Meghana_GetWindData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhase2Meghana/GetWindDataResponse" message="tns:IServicePhase2Meghana_GetWindData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePhase2Meghana" type="tns:IServicePhase2Meghana">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherForecast">
      <soap:operation soapAction="http://tempuri.org/IServicePhase2Meghana/GetWeatherForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindData">
      <soap:operation soapAction="http://tempuri.org/IServicePhase2Meghana/GetWindData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePhase2Meghana">
    <wsdl:port name="BasicHttpBinding_IServicePhase2Meghana" binding="tns:BasicHttpBinding_IServicePhase2Meghana">
      <soap:address location="http://localhost:8256/ServicePhase2Meghana.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>