Service References/SRSolarIntensity/ServiceSolarIntensity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSolarIntensity" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8493/ServiceSolarIntensity.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8493/ServiceSolarIntensity.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8493/ServiceSolarIntensity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolarIntensity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSolarIntensity_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceSolarIntensity_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSolarIntensity_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceSolarIntensity_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSolarIntensity_SolarIntensityService_InputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensityService" />
  </wsdl:message>
  <wsdl:message name="IServiceSolarIntensity_SolarIntensityService_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensityServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSolarIntensity">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSolarIntensity/GetData" message="tns:IServiceSolarIntensity_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSolarIntensity/GetDataResponse" message="tns:IServiceSolarIntensity_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSolarIntensity/GetDataUsingDataContract" message="tns:IServiceSolarIntensity_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSolarIntensity/GetDataUsingDataContractResponse" message="tns:IServiceSolarIntensity_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolarIntensityService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSolarIntensity/SolarIntensityService" message="tns:IServiceSolarIntensity_SolarIntensityService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSolarIntensity/SolarIntensityServiceResponse" message="tns:IServiceSolarIntensity_SolarIntensityService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSolarIntensity" type="tns:IServiceSolarIntensity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceSolarIntensity/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceSolarIntensity/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolarIntensityService">
      <soap:operation soapAction="http://tempuri.org/IServiceSolarIntensity/SolarIntensityService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSolarIntensity">
    <wsdl:port name="BasicHttpBinding_IServiceSolarIntensity" binding="tns:BasicHttpBinding_IServiceSolarIntensity">
      <soap:address location="http://localhost:8493/ServiceSolarIntensity.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>